/* Limit the height of the movie list */
.movie-list {
    max-height: 18rem;
}
@media (min-width: 768px) {
    .movie-list {
        height: calc(100vh - 14rem);
        min-height: 768px;
        max-height: 80rem;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    @apply bg-gray-500;
}

::-webkit-scrollbar-thumb {
    @apply bg-yellow-400;
}

::-webkit-scrollbar-thumb:hover {
    @apply cursor-pointer outline-4;
}

/* Override the outline color */
*:focus {
    @apply outline-yellow-400;
}